<!DOCTYPE html>
<html lang="en">



<head>
<link rel="stylesheet" href="css/creative.css">
<link rel="stylesheet" href="css/creative.min.css" media="screen" title="no title"  charset="utf-8">
<link rel="stylesheet" href="javascript/creative.min.js" media="screen" title="no title"  charset="utf-8">
<link rel="stylesheet" href="javascript/creative.js" media="screen" title="no title"  charset="utf-8">
<link rel="stylesheet" href="javascript/agency.js" media="screen" title="no title"  charset="utf-8">
<link rel="stylesheet" href="javascript/agency.min.js" media="screen" title="no title"  charset="utf-8">
<link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="pages/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel='stylesheet' type='text/css'>
<link href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic" rel='stylesheet' type='text/css'>
<link href="vendor/magnific-popup/magnific-popup.css" rel="stylesheet">
<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="javascript/agency.min.js"></script>
<script src="vendor/jquery/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
<script src="vendor/scrollreveal/scrollreveal.min.js"></script>
<script src="vendor/magnific-popup/jquery.magnific-popup.min.js"></script>
<script src="pages/javascript/creative.min.js"></script>




 

</head>


<body id="page-top" onload="$.when(typeWriterName()).then(Upcoming())">
    <script type="text/javascript">
var i = 0;
var x = 0;
var text= "A young technology enthusiast ready to explore through innovation."
var name = "Andy Van Khoa Nguyen"
var speed1 = 100;
var speed2 = 50
var myDesc;





function typeWriterName() {
    if(x < name.length ){
        document.getElementById("name").innerHTML += name.charAt(x);
        x++;
        setTimeout(typeWriterName, speed1)
    }
    // myDesc = setTimeout(typeWriter(), 3000)
    // setTimeout(typeWriter(), 5000)
    // if(i < text.length ) {
    //     document.getElementById("demo").innerHTML += text.charAt(i);
    //     i++;
    //     setTimeout(typeWriter, speed);
    // }

}
function Upcoming(){
    setTimeout(typeWriter(), 6000)
}

function typeWriter(){
    if(i < text.length ) {
        document.getElementById("demo").innerHTML += text.charAt(i);
        i++;
        setTimeout(typeWriter, speed2);
    }
}

</script>
    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">AVKN</a>
            </div>

            

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" href="#about">About</a>
                    </li>
                   
                    <li>
                        <a class="page-scroll" href="#portfolio">Portfolio</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            
        </div>
    </nav>

    <header>
        <div class="header-content">
            <div class="header-content-inner">
                <!-- <h1 id="homeHeading">Andy Van Khoa Nguyen</h1> -->
                <h1 id="homeHeading"></h1>
                <h1 id="name"></h1>
                <hr>
                <p id="demo" style="background-color: gray; opacity: .75;"></p>
                <!-- <p>A young technology enthusiast ready to explore through innovation.</p> -->
                <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
            </div>
        </div>
    </header>

    <section class="bg-primary" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">About Me</h2>
                    <hr class="light">
                    <p class="text-faded">Hello! I am ready to rock and roll, looking for opportunities and tasks to take on and create a new innovative future. All my life the computer has interested me in more ways than I can imagine and it continues to do so. Upon graduating from CodingDojo, where I dedicated 1000+ hours to become the full Stack Developer I am today, I look forward to a career where I can apply these skills and learn more.</p>
                    <a href="#services" class="page-scroll btn btn-default btn-xl sr-button">More Info</a>
                </div>
            </div>
        </div>
    </section>

    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Stacks On Hand</h2>
                    <hr class="primary">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-diamond text-primary sr-icons"></i>
                        <h3>MEAN Stack</h3>
                        <p class="text-muted">MongoDB, Angular, Express, Node.js</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <!-- <i class="fa fa-4x fa-paper-plane text-primary sr-icons"></i> -->
                        <h3>Python Stack</h3>
                        <p class="text-muted">Python Stack includes: Flask, Django, MySQL, jQuery, Javascript and more.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <!-- <i class="fa fa-4x fa-newspaper-o text-primary sr-icons"></i> -->
                        <h3>IOS</h3>
                        <p class="text-muted">Swift 4 and xCode providing usable apps created through iOS development.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <!-- <i class="fa fa-4x fa-heart text-primary sr-icons"></i> -->
                        <h3>CSS/HTML</h3>
                        <p class="text-muted">Web developing fundamentals thruogh HTML/CSS, providing aesthetics and usability for any website</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

 <section id="portfolio" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Projects</h2>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
            </div>
            <h4><center>Under Construction</center></h4>
            <center><a href="http://modernizetemplate.herokuapp.com/exam.html"><img src="images/html.jpg" width=300></a></center>
            <center><a href="https://github.com/Andyvn2/trailtracker"><img src="images/trailtracker.jpg" width=300></a></center>

        </div>
    </section>


   

    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Let's Get In Touch!</h2>
                    <hr class="primary">
                    <p>Please feel free to contact me anytime!</p>
                </div>
                <div class="col-lg-4 col-lg-offset-2 text-center">
                    <i class="fa fa-phone fa-3x sr-contact"></i>
                    <p>408 772 9399</p>
                </div>
                <div class="col-lg-4 text-center">
                    <i class="fa fa-envelope-o fa-3x sr-contact"></i>
                    <p><a href="mailto:andyvn2@uci.edu">andyvn2@uci.edu</a></p>
                </div>
            </div>
        </div>
    </section>

     
    

    



   



</body>

</html>
